<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ims.mapper.ArticleTagMapper">

    <insert id="insert">
        INSERT INTO article_tag (article_id, tag_id)
        VALUES (#{articleId}, #{tagId})
    </insert>

    <select id="findByArticleId" resultType="com.ims.entity.ArticleTag">
        SELECT article_id, tag_id
        FROM article_tag
        WHERE article_id = #{articleId}
    </select>

    <select id="findByArticleIds" resultType="com.ims.entity.ArticleTag">
        SELECT article_id, tag_id
        FROM article_tag
        WHERE article_id IN
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findByTagId" resultType="com.ims.entity.ArticleTag">
        SELECT article_id, tag_id
        FROM article_tag
        WHERE tag_id = #{tagId}
    </select>

    <delete id="deleteByArticleId">
        DELETE FROM article_tag WHERE article_id = #{articleId}
    </delete>

    <delete id="deleteByArticleIdAndTagId">
        DELETE FROM article_tag
        WHERE article_id = #{articleId} AND tag_id = #{tagId}
    </delete>

    <select id="countByTagId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM article_tag WHERE tag_id = #{tagId}
    </select>

</mapper>
